body,
html {
  overflow: hidden;
  background: #fff;
  font-size: 16px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: bold;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: #1677ed;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view {
  width: 100vw;
  height: 100vh;
}

.actions {
  button {
    height: 40px;
    min-width: 140px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 25px;
    background: #fff;
    border: solid 2px #eee;
    color: black;
    transition: 0.3s background;

    &:hover {
      background: #eee;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.primary {
      border: none;
      background: #1677ed;
      box-shadow: 0 0 10px #1677ed6a;
      color: #fff;
    }

    &.primary:hover {
      cursor: pointer;
      background: #1677ed;
    }
  }
}


.spinner {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
